<div class="rumor_list_wrapper">
  <div
       fxLayout="column"
       fxLayoutAlign="center center"
  >
      <md-card class="example-card flex-item" *ngFor="let rumor of rumors" fxFlex="50%">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
        <md-card-content>
          <p>
            {{ rumor.name }}
          </p>
          <p>
            {{ rumor.text }}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>WITNESS</button>
        </md-card-actions>
      </md-card>
  </div>
  <button md-fab class="rumor_add_button" color="warn" (click)="add()">
    <md-icon>add</md-icon>
  </button>
</div>

