<div class="rumor_list_wrapper" fxLayout="column">
  <div
    fxLayout="row"
    fxLayoutWrap
    fxLayoutAlign="space-between"
  >
      <md-card class="example-card flex-item" *ngFor="let product of products" fxFlex="18">
        <md-card-header>
          <md-card-title>
            <h3>{{ product.name }}</h3>
          </md-card-title>
          <!-- <md-card-subtitle>Dog Breed</md-card-subtitle> -->
        </md-card-header>
        <img md-card-image src="assets/products/{{product.img}}">
        <md-card-content>
          <div>
            {{ product.text }}
          </div>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button color="accent" (click)="collect(product)">Купить</button>
        </md-card-actions>
      </md-card>
  </div>
  <!-- <button md-fab class="rumor_add_button" color="warn" (click)="add()"> -->
    <!-- <md-icon>add</md-icon> -->
  <!-- </button> -->
</div>

